/* Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules */
/* Order: Position, Size, Shape, Color, Function */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	font-family: Archivo, ui-sans-serif, system-ui, sans-serif;
	--accent: #9ed;
	--primary: #9ed;
	--tertiary: #ecf;
	--secondary: #def;
	--content: #000;
	--fill: #fff;
	overscroll-behavior-y: none;
	user-select: none;
}

@media (prefers-color-scheme: dark) {
:root {
	--primary: #012;
	--secondary: #123;
	--content: #fff;
	--fill: #666;
	}
}

body {
	accent-color: var(--accent);
	background-color: var(--secondary);
}

* {
	margin: unset;
	padding: unset;
	border: unset;
	box-sizing: border-box;
	color: var(--content);
}

header {
	position: fixed;
	bottom: env(safe-area-inset-bottom);
	width: 100vw;
	padding: 2vh;
	display: flex;
	justify-content: space-between;
	background-color: var(--primary);
}

nav {
	display: flex;
}

button {
	margin: 0 0 0 2vh;
	padding: 0 1vh;
	border-radius: 1vh;
	font-size: 2.5vh;
}

main {
	padding: 2vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

h1 {
	font-size: 4vh;
}

h2 {
	font-size: 3.5vh;
}

h3 {
	font-size: 3vh;
}

h4 {
	font-size: 2.5vh;
}

h5 {
	font-size: 2vh;
}

h6 {
	font-size: 1.5vh;
}

p {
	font-size: 2.5vh;
}

a {
	padding: 0.5vh;
	border-radius: 0.5vh;
	background-color: var(--fill);
}

section {
	margin: 2vh 0 0 0;
	padding: 2vh;
	border-radius: 2vh;
	background-color: var(--tertiary);
}

div {
	display: flex;
	flex-direction: column;
}

input {
	margin-top: 1vh;
	background-color: var(--fill);
}

input[type="text"], input[type="submit"] {
	padding: 0.5vh;
	border-radius: 0.5vh;
}

input[type="checkbox"] {
	margin-right: 0.5vh;
}

table {
	margin-top: 1vh;
	padding: 1vh;
	border: 1px solid var(--content);
	border-spacing: 1vh;
	border-radius: 1vh;
	background-color: var(--fill);
}

th {
	text-align: right;
	font-weight: 400;
	font-family: Chivo Mono, ui-monospace, monospace;
}

thead th {
	font-size: 2.5vh;
	font-weight: revert;
	font-family: revert;
}

td {
	padding: 1.5vh;
	border: 1px solid var(--content);
	border-radius: 1vh;
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	& img {
		margin-right: 2vh;
		width: 4vh;
		aspect-ratio: 1 / 1;
	}
	& h1 {
		display: none;
	}
}

@media screen and (min-width: 600px) {
	.logo h1 {
		display: initial;
	}
}
