/* Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules */
/* Order: Position, Size, Shape, Color, Function */
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900");

@media screen and (min-width: 600px) {
	:root {
		font-size: 4mm;
	}
}
:root {
	font-size: 12mm;
	font-family: Archivo, ui-sans-serif, system-ui, sans-serif;
}

* {
	margin: unset;
	padding: unset;
	border: unset;
}

header {
	padding: 1rem;
	display: flex;
	background-image: linear-gradient(to right, #36c , #3c9);
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000;
	& img {
		margin-right: 1rem;
		width: 3rem;
	}
}
